%blockquote
  %p
    I will show you fear in a handful of dust.
  %footer
    T.S. Eliot, 1922
    %cite(title="The Waste Land")
      The Waste Land
      
%blockquote
  %p
    Time is the fire in which we burn
  %footer
    Delmore Schwartz, 1967
    %cite(title="Calmly We Walk through This April’s Day")
      Calmly We Walk through This April’s Day
