Categories: Technical Notes
Template: home
Summary: Migrating to heroku
Date: 14 September 2013

.container
  .row
    .col-md-9
      %h1 Migrating to heroku
      %p  I was very pleased to be able to migrate this app to heroku in about 50 minutes from initial signup.  The only challenge was figuring out the heroku domains command and linking the CNAME record to the heroku apps.  The CNAME record needs to point to appname.herokuapp.com.  The app name is controlled through the heroku domains command.  Next step is to have travis push to heroku upon a successful test
      :markdown
        The commands i used included..

            heroku domains:add www.ficonab.com
            heroku apps
            heroku ps
            heroku apps:rename ficonab.com
            heroku ps:scale web=1
            git push heroku master
            heroku logs -t
            heroku domains:add pos.test.estormtech.com
            heroku ps:scale smscworker=0
        Adding a new site.

             heroku create
             heroku apps:rename estorm-sms
        Forking a site.

             heroku fork -a yyy-xxx4d estorm-xxx3d
             heroku info -a xxx-lotto2d
             git remote add xxx-xxx3d git@heroku.com:estorm-xxx3d.git

    .col-md-3
      = haml :technote_menu, :layout => false