Categories: Technical Notes
Template: home
Summary: Posting to rails from mathematica
Date: 24 July 2016

.container
  .row
    .col-md-9  
      %h1 How to post from mathematica to rails application using json.
      %p 
        A mathematica package is available for this at 
        %a(href="https://github.com/semdinsp/railsmath")
          github railsmath
        This package has support for posting json to ruby on rails and pulling active record models from rails into mathematica.  It uses associations and rules to post the data. For index queries it returns a list that can be manipulated
          
      %p The package is used reasonably extensively in my code so the basics should be working.  Post and get an individual model is nicely working.  Getting all models is not as nice as it returns a list rather than an association of associations.
      
      %h2 Detailed process how railsmath package above was developed

      %p This was a three hour hit and miss session to get working so I thought i would share it.
      :markdown
        ### Using curl
        Code:

            curl  -H "Content-type: application/json" -X "POST" -d '{"net_asset_value":{"accountname":"scott","nav":24}}' "http://127.0.0.1:5522/net_asset_values.json"
      %p 
      %p The documentation for URLFetch was not exactly helpful.  (eg parameters versus body for a post message either seems correct). However create some rules to represent the data you want to post. Assign it to the body with the correct headers and send it. (Note the conversion of the rules to json usng ExportString)
      :markdown
        ### Mathematic code
        Code:
        
            rules = "net_asset_value" -> {"accountname" -> "scott", "nav" -> 24 }
            res = URLFetch[url,  "Body" -> ExportString[{rules}, "JSON"], 
              "Method" -> "POST", 
              "Headers" -> {"Content-type" -> "application/json"}]
    .col-md-3
      = haml :technote_menu, :layout => false

