Categories: Technical Notes
Template: home
Summary: Migrate to systemd
Date: 7 November 2015

.container
  .row
    .col-md-9
      %h1 Migrating to systemd

      %p How to easily create systemd files on raspberry pi for foreman and ruby rails

      %pre
        %code
          sudo $RVM_SHELL $RUBY_VERSION -c 'foreman export systemd /etc/systemd/systemd -a teds'

      %pre
        %code 
          sudo systemctl teds.service
          sudo launchctl load /System/Library/LaunchDaemons/org.postfix.master.plist
        
    .col-md-3
      = haml :technote_menu, :layout => false

