Template: home
Layout: toppage
Link text: Home

.container
  .row
    .col-md-3
      %a(class="navbar-brand" href="/about")
        %img( src="/attachments/ficonabsmall.jpg" width=100 height=45 alt='ficonab logo')
        = @heading
  .row
    .col-offset-3.col-md-6
      %h1 Ficonab Pte. Ltd.
      %p.lead
        :markdown
          An [algorithmic trading](/strategies) project using [Mathematica](/technotes) and integrated with [Interactive Brokers](/technotes).
      = haml :getnav, :layout => false
  .row
    .col-offset-2.col-md-4
      %a(href="/about" ) 
        %p Performance Summary
        %img{:src=>"attachments/automated/summary.jpg", :width => "240", :height=>"180", :alt=>"Summary"}
    .col-offset-1.col-md-4
      %a(href="/strategies/geographic") 
        %p Geographic Strategy
        %img{:src=>"attachments/worldmapsmall.gif", :width => "240", :height=>"180"}
  .row
    .col-offset-2.col-md-4
      %a(href="/technotes") 
        %p Technology
        %img{:src=>"attachments/mathematica2.jpg", :width => "200", :height=>"140"}
    .col-offset-1.col-md-4  
      %a(href="/strategies/value") 
        %p Value
        %img{:src=>"attachments/bengraham.jpeg", :width => "150", :height=>"200"}
  .row
    .col-offset-3.col-md-8
      %h1 
        %a(href="quotes")
          Quotes we enjoy
      = haml :quotes, :layout => false


